:root {
  --vp-c-bg: #161a25;
  --vp-c-bg-code: #141720;
  --vp-c-bg-soft: #1c2430;
  --vp-c-bg-mute: #1c2430;
  --vp-c-bg-alt: #fcfcfd;
  --vp-c-brand: #468bfa;
  --vp-c-brand-dark: #2a67ec;
  --vp-c-brand-light: #60a5fa;
  --vp-c-brand-semilight: #79b4fd;
  --vp-c-black: #12151d;
  --vp-c-divider: #1e2733;
  --vp-c-divider-light: #232d3b;
  --vp-c-gray-dark-4: #273141;
  --vp-c-gray-dark-5: #242d3b;
  --vp-c-gray-light-4: #e8edf3;
  --vp-c-text-code: #d8dfe9;
  --vp-c-white-soft: #f5f8fc;
  --vp-code-tab-bg: #181f2b;
  --vp-code-tab-divider: #1c2430;
  --vp-button-alt-bg: #18181b;
  --vp-button-alt-border: transparent;
  --vp-button-brand-border: transparent;
  --vp-code-block-bg: #141418;
  --vp-code-line-highlight-color: #1d232c;
  --vp-custom-block-danger-bg: transparent;
  --vp-custom-block-info-bg: transparent;
  --vp-custom-block-info-border: rgba(114, 131, 151, 0.137);
  --vp-custom-block-tip-bg: transparent;
  --vp-custom-block-warning-bg: transparent;
  --vp-font-family-base: 'DM Sans', sans-serif;
  --vp-font-family-mono: 'Roboto Mono', monospace;
}

::selection {
  background: #93c5fd;
  color: #141a25;
}

::-webkit-scrollbar {
  display: block;
  background: transparent;
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  display: block;
  border: 2px solid transparent;
  border-radius: 10px;
  background-clip: padding-box;
  background-color: #24303d;
}

::-webkit-scrollbar-thumb:hover {
  border-width: 1px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.custom-block {
  border-width: 2px;
}

.VPNav,
.VPNav.no-sidebar,
.VPNavBar.has-sidebar .content {
  border-bottom: 1px solid var(--vp-c-divider-light);
  background: var(--vp-c-bg) !important;
}

.vp-doc div[class*='language-'] {
  border-radius: 8px;
}

.VPSidebar,
.vp-doc div[class*='language-'],
.snippet-file {
  background: var(--vp-c-bg-code) !important;
}

.vp-doc [class*='language-'] > button.copy {
  border-radius: 8px;
  background-color: transparent;
}

.snippet-file {
  display: flex;
  align-items: center;
  border-radius: 8px 8px 0 0;
  background: var(--vp-c-bg-soft) !important;
  padding: 9px 24px;
  color: #99a0b3;
  font-size: 13px;
  font-family: var(--vp-font-family-mono);
  user-select: none;
}

.snippet-file + [class*='language-'] {
  margin-top: 0 !important;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.snippet-file + [class*='language-'] pre {
  padding-top: 12px;
}

.snippet-file svg {
  margin-right: 8px;
  width: 18px;
  height: 18px;
}

.terminal-wrapper {
  border: 6px solid var(--vp-c-bg-soft);
  background: var(--vp-c-bg-soft);
  border-radius: 8px;
  margin-bottom: 22px;
}

.terminal-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 2px 12px 2px;
  background: var(--vp-c-bg-soft);
  user-select: none;
}

.terminal-header div {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 4px;
}

.terminal-header div:nth-child(1) {
  background: #ff5f57;
}

.terminal-header div:nth-child(2) {
  background: #febc2e;
}

.terminal-header div:nth-child(3) {
  background: #29c83f;
}

.terminal-header + .vp-code-group,
.terminal-header + .language-shell,
.terminal-header + .vp-code-group .tabs,
.terminal-header + .vp-code-group .language-shell {
  margin: 0 !important;
}

.vp-doc [class*='language-'] > button.copy {
  top: 2px !important;
}

.vp-doc [class*='language-'] > button.copy:hover {
  background-color: var(--vp-c-bg-soft);
}

.VPNavBarTitle {
  background: transparent !important;
}

.VPNavBarTitle .title {
  font-size: 19px !important;
}

.VPNavBarTitle .title:hover {
  opacity: 0.85;
}

.custom-block {
  border-radius: 8px;
}

.custom-block.details {
  transition: opacity 0.2s ease;
}

.custom-block.details:hover {
  opacity: 0.9;
}

.custom-block.details summary {
  user-select: none;
}

.logo {
  width: 34px;
  height: auto !important;
}

.VPSwitch {
  transition: opacity 0.2s ease !important;
}

.VPSwitch[aria-checked='true'] {
  background: var(--vp-c-brand);
}

.VPSwitch:hover {
  opacity: 0.9;
}

.VPSwitch,
.VPSwitch:hover {
  border-color: transparent !important;
}

.VPSwitch svg {
  display: none;
}

.VPSwitch .check {
  top: 3px;
  left: 3px;
  width: 14px;
  height: 14px;
}

.VPDocAsideOutline .content {
  border-width: 2px;
  padding-left: 18px;
}

.aside-container {
  overflow: visible !important;
}

.outline-marker {
  left: -3px !important;
  margin-top: 4px !important;
  width: 4px !important;
  height: 22px !important;
  border-radius: 8px;
}

.outline-title {
  margin-bottom: 4px;
  font-weight: 500 !important;
  font-size: 15px !important;
  letter-spacing: 0 !important;
}

.outline-link {
  padding: 2px 0;
  font-weight: 400;
  font-size: 14px;
}

.outline-link.active {
  color: var(--vp-c-brand) !important;
  font-weight: 500;
}

[data-v-8b980502] {
  padding: 1px 0;
}

.VPSidebarGroup .title-text {
  font-size: 15px !important;
}

.vp-doc [class*='language-'] code .diff::before {
  left: 0.6rem;
}

.vp-doc :is(h1, h2) {
  font-weight: 500;
}

.tabs label {
  line-height: 40px !important;
}

.vp-code-group input:checked + label::after {
  border-radius: 5px;
  height: 3px;
}

.VPNavBarMenuLink {
  align-self: center;
  border-radius: 8px;
  height: 38px;
}

.VPNavBarMenuLink,
.VPNavBarMenuGroup {
  opacity: 0.9;
  margin: 0 1px;
}

.VPNavBarMenuLink:hover {
  background: var(--vp-c-bg-soft) !important;
  color: inherit !important;
}

.VPNavBarMenuLink.active {
  background: var(--vp-c-bg-soft) !important;
  color: var(--vp-c-brand) !important;
  font-weight: 600;
}

.VPSocialLink {
  width: 40px !important;
  height: 40px !important;
  color: var(--vp-c-text-1) !important;
}

.VPSocialLink:hover {
  opacity: 0.9;
}

.VPSocialLink svg {
  width: 22px !important;
  height: 22px !important;
}

.VPButton {
  transition: opacity 0.2s ease !important;
  border: 1px solid var(--vp-c-divider-light) !important;
  border-radius: 8px !important;
  background: var(--vp-c-bg) !important;
  padding: 2px 20px !important;
  color: inherit !important;
}

.VPButton.brand {
  position: relative;
  z-index: 100;
  box-shadow: 0 0 30px rgba(41, 58, 212, 0.6);
  border-color: transparent !important;
  background: linear-gradient(
    to right,
    var(--vp-c-brand-dark),
    var(--vp-c-brand)
  ) !important;
  color: #fff !important;
}

.VPButton.brand::after {
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: -1;
  border-radius: 7px;
  background: var(--vp-c-bg);
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  content: '';
}

.VPButton:hover {
  opacity: 0.9;
}

.vp-doc .custom-block div[class*='language-'] {
  font-size: 15px !important;
}

.vp-doc .custom-block a {
  text-decoration: none;
}

.vp-doc .custom-block a:hover {
  color: var(--vp-custom-block-tip-text) !important;
  border-color: var(--vp-custom-block-tip-text);
}

.VPFeature,
.box {
  border: 1px solid var(--vp-c-divider-light) !important;
}

.box {
  position: relative;
  z-index: 100;
  border-radius: 8px;
  background: var(--vp-c-bg);
  padding: 22px !important;
}

.box:hover {
  background: linear-gradient(to right, var(--vp-c-brand-dark), var(--vp-c-brand));
}

.box:hover::after {
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: -1;
  border-radius: 7px;
  background: var(--vp-c-bg-mute);
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  content: '';
}

.box .title {
  font-size: 20px;
}

.box .details {
  padding-top: 12px;
  font-weight: 400;
  font-size: 16px;
}

.VPHero .tagline {
  padding-top: 28px;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.5;
}

.link[data-v-5f79f6bb] {
  margin: 6px 0;
}

.nav .link {
  transition: transform 0.3s ease;
  padding: 4px 9px !important;
}

.nav .link.active {
  border-radius: 8px;
  background: var(--vp-c-bg-soft);
}

.link.active .link-text {
  font-weight: 700;
}

.vp-doc a:hover {
  border-bottom: 1px solid var(--vp-c-brand);
  color: var(--vp-c-brand);
}

.details summary {
  cursor: pointer;
}

.group + .group[data-v-8f603b0e] {
  border-color: var(--vp-c-divider);
}

.VPHome .image-src {
  filter: drop-shadow(0 0 30px rgba(20, 48, 170, 0.5));
}

.vp-doc .header-anchor {
  margin-left: -1.1em;
}

.vp-doc :not(pre) > code {
  transition: none;
  margin: 0 1px;
  border-radius: 6px;
  padding: 3px 7px;
  color: var(--vp-c-brand-semilight);
}

.VPNavBarAppearance,
.VPNavScreenAppearance {
  display: none !important;
}

.VPSkipLink {
  color: var(--vp-c-brand) !important;
}

.edit-link-button {
  transition: all 0.1s ease !important;
  border: 1px solid var(--vp-c-divider-light) !important;
  border-radius: 8px;
  padding: 3px 14px;
}

.edit-link-button:hover {
  border-color: var(--vp-c-brand) !important;
  color: var(--vp-c-brand) !important;
  opacity: 0.9;
}

.VPMenu {
  box-shadow: var(--vp-shadow-2) !important;
  border-radius: 10px !important;
}

.link[data-v-19086799]:hover {
  background: var(--vp-c-bg-soft);
}

.vp-doc [class*='language-'] > span.lang {
  display: none;
}

.prev-next {
  border: none !important;
}

.pager-link {
  background: var(--vp-c-bg-mute);
}

.pager-link:not(:hover) {
  border-color: transparent;
}

.pager-link:hover .title {
  color: var(--vp-c-brand) !important;
}

.pager-link .desc {
  margin-bottom: 4px;
}

table {
  border: 0;
  border-radius: 8px;
}

thead {
  border-radius: 8px;
}

thead tr,
thead th {
  border-top: 0 !important;
}

thead th:last-child {
  border-top: 0 !important;
  border-top-right-radius: 8px;
}

th,
td {
  border-right: 0 !important;
  border-left: 0 !important;
  padding: 11px 18px !important;
}

tr:last-child td {
  border-bottom: 0 !important;
}

@media (min-width: 2000px) {
  .VPHero {
    padding-top: 290px !important;
  }
}

@media (min-width: 960px) {
  .VPSidebar {
    margin-top: 72px !important;
  }

  .VPNavBarTitle.has-sidebar {
    border: none !important;
  }

  .VPSidebar {
    padding-top: 24px !important;
  }

  .VPHero {
    padding-top: 170px !important;
  }
}

@media (min-width: 768px) {
  .VPFooter {
    padding: 64px !important;
  }

  .VPDoc .content-container {
    padding-top: 20px;
  }

  .nav .link:not(.active):hover {
    transform: translateX(5px);
  }

  .edit-info {
    justify-content: flex-end !important;
  }
}
