:root {
  --vp-c-bg-mute: #ebeef1;
  --vp-c-bg-alt: #fcfcfd;
  --vp-c-brand: #0ea5e9;
  --vp-c-brand-dark: #0284c7;
  --vp-c-brand-light: #38bdf8;
  --vp-c-divider-light: #edeef1;
  --vp-c-gray-light-4: #e8edf3;
  --vp-c-white-soft: #f5f8fc;
  --vp-button-alt-bg: #f1f5f9;
  --vp-button-alt-border: transparent;
  --vp-button-brand-border: transparent;
  --vp-code-block-bg: #1b1e27;
  --vp-code-line-highlight-color: #29303b;
  --vp-custom-block-info-bg: rgba(162, 191, 224, 0.164);
  --vp-custom-block-info-border: rgba(178, 194, 212, 0.199);
  --vp-custom-block-tip-code-bg: #d4efff;
  --vp-custom-block-tip-border: #e8f6ff;
  --vp-custom-block-tip-bg: #e8f6ff;
  --vp-custom-block-tip-text: #0a92e0;
  --vp-font-family-base: 'DM Sans', sans-serif;
  --vp-font-family-mono: 'Roboto Mono', monospace;
}

:root:not(.dark) {
  --vp-c-green-dimm-3: rgba(63, 201, 148, 0.158);
  --vp-c-yellow-dimm-3: rgba(255, 197, 23, 0.082);
}

:root:not(.dark) .custom-block.details {
  border-color: transparent;
}

.dark {
  --vp-button-alt-bg: #18181b;
  --vp-button-alt-hover-bg: #1b1b1f;
  --vp-c-bg: #0c0c0e;
  --vp-c-bg-soft: #1b1b20;
  --vp-c-bg-mute: #141418;
  --vp-c-black: #12151b;
  --vp-c-divider: #2a313b;
  --vp-c-divider-light: #202630;
  --vp-c-gray-dark-4: #273141;
  --vp-c-text-code: #d8dfe9;
  --vp-code-block-bg: #141418;
  --vp-code-line-highlight-color: #1d232c;
  --vp-custom-block-info-bg: rgba(87, 109, 134, 0.158);
  --vp-custom-block-info-border: rgba(114, 131, 151, 0.103);
  --vp-custom-block-tip-code-bg: rgb(0, 72, 112, 0.25);
  --vp-custom-block-tip-border: #002c44;
  --vp-custom-block-tip-bg: rgb(0, 72, 112, 0.25);
  --vp-custom-block-tip-text: #9ddbff;
}

::selection {
  background: #0ea5e9;
  color: #fff;
}

::-webkit-scrollbar {
  display: block;
  background: transparent;
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #bfc5ce;
  display: block;
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  border-width: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #2f3641;
}

.dark ::selection {
  color: #141a25;
  background: #38bdf8;
}

.VPNav,
.VPNavBar.has-sidebar .content {
  background: #fff !important;
  border-bottom: 1px solid var(--vp-c-divider-light);
}

.dark .VPNav,
.dark .VPNav.no-sidebar,
.dark .VPNavBar.has-sidebar .content {
  background: #141418 !important;
}

.vp-doc div[class*='language-'] {
  border-radius: 8px;
}

.dark .VPSidebar,
.dark .vp-doc div[class*='language-'],
.dark .snippet-file {
  background: #141418;
}

.dark .vp-doc [class*='language-'] > button.copy {
  background-color: transparent;
  border-radius: 8px;
}

.snippet-file {
  background: var(--vp-code-block-bg);
  color: #99a0b3;
  padding: 12px 24px;
  border-radius: 8px 8px 0 0;
  font-size: 13px;
  display: flex;
  align-items: center;
  font-family: var(--vp-font-family-mono);
  user-select: none;
}

.snippet-file + [class*='language-'] {
  margin-top: 0 !important;
  border-top-left-radius: 0!important;
  border-top-right-radius: 0!important;
}

.snippet-file + [class*='language-'] pre {
  padding-top: 2px;
}

.snippet-file svg {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.vp-doc [class*='language-'] > button.copy {
  top: 2px !important;
}

.vp-doc [class*='language-'] > button.copy:hover {
  background-color: var(--vp-c-bg-soft);
}

.VPNavBarTitle {
  background: transparent !important;
}

.custom-block {
  border-radius: 8px;
}

.custom-block.details {
  transition: opacity 0.2s ease;
}

.custom-block.details:hover {
  opacity: 0.9;
}

.custom-block.details summary {
  user-select: none;
}

.VPSwitch {
  transition: opacity 0.2s ease !important;
}

.VPSwitch[aria-checked=true] {
  background: var(--vp-c-brand);
}

.VPSwitch:hover {
  opacity: 0.9;
}

.VPSwitch,
.VPSwitch:hover {
  border-color: transparent !important;
}

.VPSwitch svg {
  display: none;
}

.VPSwitch .check {
  width: 14px;
  height: 14px;
  left: 3px;
  top: 3px;
}

.VPDocAsideOutline .content {
  border-width: 2px;
  padding-left: 18px;
}

.outline-marker {
  width: 3px !important;
  height: 22px !important;
  left: -3px !important;
  margin-top: 4px !important;
}

.outline-title {
  margin-bottom: 4px;
  font-weight: 500 !important;
  font-size: 15px !important;
  letter-spacing: 0 !important;
}

.outline-link {
  font-weight: 400;
  letter-spacing: 0.2px;
  padding: 2px 0;
  font-size: 14px;
}

.outline-link.active {
  font-weight: 500;
  color: var(--vp-c-brand) !important;
}

[data-v-8b980502] {
  padding: 0.5px 0;
}

.VPSidebarGroup .title-text {
  font-size: 15px !important;
}

.vp-doc [class*='language-'] code .diff::before {
  left: 0.6rem;
}

.vp-doc :is(h1, h2) {
  font-weight: 500;
}

.VPNavBarTitle .title {
  font-size: 18px !important;
}

.VPNavBarMenuLink.active {
  font-weight: 600;
  background: var(--vp-c-bg-soft);
  height: 38px;
  border-radius: 8px;
  align-self: center;
}

.dark .VPNavBarMenuLink.active {
  background: var(--vp-c-bg-mute);
}

.VPButton {
  border-radius: 8px !important;
  border: 1px solid var(--vp-c-divider-light) !important;
  padding: 2px 20px !important;
  transition: opacity 0.2s ease !important;
  background: var(--vp-c-bg) !important;
  color: inherit !important;
}

.VPButton.brand {
  background: linear-gradient(to right, #3b82f6, #0ea5e9) !important;
  box-shadow: 0 0 30px rgba(41, 138, 212, 0.6);
  border-color: transparent !important;
  position: relative;
  color: #fff !important;
  z-index: 100;
}

.VPButton.brand::after {
  content: '';
  position: absolute;
  left: 1px;
  top: 1px;
  background: #111;
  border-radius: 7px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  z-index: -1;
}

.VPButton:hover {
  opacity: 0.9;
}

.VPFeature, .box {
  border: 1px solid var(--vp-c-divider-light) !important;
}

.box {
  position: relative;
  border-radius: 8px;
  background: var(--vp-c-bg);
  padding: 22px !important;
  z-index: 100;
}

.box:hover {
  background: linear-gradient(to right, #3b82f6, #0ea5e9);
}

.box:hover::after {
  content: '';
  position: absolute;
  left: 2px;
  top: 2px;
  background: var(--vp-c-bg-mute);
  border-radius: 7px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  z-index: -1;
}

.box .title {
  font-size: 20px;
}

.box .details {
  padding-top: 12px;
  font-weight: 400;
  font-size: 16px;
}

.VPHero .tagline {
  font-weight: normal;
  font-size: 20px;
  padding-top: 28px;
  line-height: 1.5;
}

.VPNavBarMenuLink, .VPNavBarMenuGroup {
  opacity: 0.9;
}

.link[data-v-5f79f6bb] {
  margin: 6px 0;
}

.nav .link {
  transition: transform 0.3s ease;
  padding: 4px 9px !important;
}

.nav .link.active {
  background: #ebf5fa;
  border-radius: 8px;
}

.dark .nav .link.active {
  background: var(--vp-c-bg-soft);
}

.link.active .link-text {
  font-weight: 700;
}

.vp-doc a:hover {
  border-bottom: 1px solid var(--vp-c-brand);
  color: var(--vp-c-brand);
}

.details summary {
  cursor: pointer;
}

.group + .group[data-v-8f603b0e] {
  border-color: var(--vp-c-divider);
}

.VPHome .image-src {
  filter: drop-shadow(0 0 30px rgba(20, 105, 170, 0.5));
}

.vp-doc .header-anchor {
  margin-left: -1.1em;
}

.vp-doc :not(pre) > code {
  margin: 0 1px;
  color: var(--vp-c-brand-light);
  padding: 3px 7px;
  border-radius: 6px;
  transition: none;
}

html:not(.dark) .vp-doc :not(pre) > code {
  background: #edf6fa;
  color: var(--vp-c-brand);
}

.VPNavScreenAppearance .text {
  display: none;
}

.VPNavScreenAppearance::before {
  content: 'Dark mode';
  font-size: 0.75rem;
  font-weight: 500;
  opacity: 0.75;
}

.VPSkipLink {
  color: var(--vp-c-brand) !important;
}

.edit-link-button {
  border: 1px solid var(--vp-c-divider-light) !important;
  padding: 3px 14px;
  border-radius: 8px;
}

.edit-link-button:hover {
  background: var(--vp-c-bg-soft);
}

.VPMenu {
  box-shadow: var(--vp-shadow-2) !important;
  border-radius: 10px !important;
}

.link[data-v-19086799]:hover {
  background: var(--vp-c-bg-soft);
}

.vp-doc [class*='language-'] > span.lang {
  display: none;
}

.prev-next {
  border: none !important;
}

.pager-link {
  background: var(--vp-c-bg-mute);
}

.pager-link:not(:hover) {
  border-color: transparent;
}

.pager-link:hover .title {
  color: var(--vp-c-brand) !important;
}

.pager-link .desc {
  margin-bottom: 4px;
}

table {
  border-radius: 8px;
  border: 0;
}

thead {
  border-radius: 8px;
}

thead tr,
thead th {
  border-top: 0 !important;
}

thead th:last-child {
  border-top: 0 !important;
  border-top-right-radius: 8px;
}

th, td {
  padding: 11px 18px !important;
  border-left: 0 !important;
  border-right: 0 !important;
}

tr:last-child td {
  border-bottom: 0 !important;
}

@media (min-width: 2000px) {
  .VPHero {
    padding-top: 290px !important;
  }
}

@media (min-width: 960px) {
  .VPSidebar {
    margin-top: 72px !important;
  }

  .VPNavBarTitle.has-sidebar {
    border: none !important;
  }

  .VPSidebar {
    padding-top: 24px !important;
  }

  .VPHero {
    padding-top: 170px !important;
  }
}

@media (min-width: 768px) {
  .VPFooter {
    padding: 64px !important;
  }

  .VPDoc .content-container {
    padding-top: 20px;
  }

  .nav .link:not(.active):hover {
    transform: translateX(5px);
  }

  .edit-info {
    justify-content: flex-end !important;
  }
}
